# ------------------------
# Секрети та конфігурації
# ------------------------
.env
config.json
*.key
*.pem
*.sqlite3

# ------------------------
# Python кеші
# ------------------------
__pycache__/
*.py[cod]
*$py.class

# ------------------------
# Логи та тимчасові файли
# ------------------------
*.log
*.tmp
*.bak
*.swp

# ------------------------
# IDE та редактори
# ------------------------
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# ------------------------
# OS специфічні файли
# ------------------------
.DS_Store
Thumbs.db
desktop.ini

# ------------------------
# Віртуальні середовища
# ------------------------
venv/
env/
ENV/
.venv/
